@font-face {
    font-family: "Futura";
    src: url("./fonts/futura-pt-book\ \(1\).otf") format("opentype");
    }

body {
    display: flex;
    font-size: 18px;
    font-family: 'Futura';
}

.content {
    width: 70vw;
    margin: auto auto auto 15vw;
}

.content img {
    width: 25vw;
}

.contributor {
    width: fit-content;
    margin: 0 10vw auto auto;
}

.contributor h3 {
    width: 20vw;
}

.contributor span {
    display: flex;
}

.contributor span img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 30px;
}